<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
<uses-permission android:name="android.permission.WAKE_LOCK" />

<!-- Application ট্যাগের ভেতরে রিসিভার যোগ করুন -->
<receiver android:name=".AlarmReceiver" android:exported="true" />
